# maven
target/
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# Java
*.class
*.jar
*.war

# Linux
*~
~*

# KDE
.directory

# Netbeans
nbactions.xml
nb-configuration.xml

# Eclipse
.classpath
.project
.settings/
