<!DOCTYPE html>
<html ng-app='AppToDo'>
	<head>
		<meta charset="utf-8">
		
		<title>AngularJS TO DO</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
  		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<div ng-controller="FormController as formCtl">
		
			<form name="frmGuardarTareaAngular" ng-submit="formCtl.addTask()">
				<label for="txtDescripcion">Descripción</label>
	   			<input type="text" id="txtDescripcion" name="txtDescripcion" placeholder="Descripción" ng-model="formCtl.tarea.descripcion" />
	   			
	   			<input type="submit" id="btnGuardar" name="btnGuardar" value="Guardar" />
			</form>
			
		</div>
		
		<div ng-controller='TasksController as tasksCtl'>
		
			<div ng-repeat='tarea in tasksCtl.tareas'>
				
				<blockquote>
					<div>{{tarea.descripcion}}</div>
					<span>{{tarea.fecha | date:'dd/MM/yyyy @ h:mma'}} - </span>
					Terminada <input type="checkbox" ng-selected="tarea.realizada" ng-disabled="tarea.realizada" />
				</blockquote>
				
			</div>
			
		</div>
		
	</body>
</html>
