<!DOCTYPE html>
<html ng-app='AppToDo'>
	<head>
		<meta charset="utf-8">
		
		<title>AngularJS TO DO</title>
		<script type="text/javascript" src="https://code.angularjs.org/1.3.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.3.9/angular-route.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.3.9/angular-resource.min.js"></script>
  		<script type="text/javascript" src="js/ng/app.js"></script>

  		<link rel="stylesheet" href="css/basic-todo-style.css">
	</head>
	<body>
		<div ng-controller="FormController as formCtl">
		
			<form name="frmGuardarTareaAngular" ng-submit="frmGuardarTareaAngular.$valid && addTask()" novalidate>
	   			<input type="text" id="txtDescripcion" name="txtDescripcion" placeholder="Descripción" ng-model="tarea.descripcion" required/>
	   			
	   			<input type="submit" id="btnGuardar" name="btnGuardar" value="Agregar" />
			</form>
			
		</div>
		
		<div ng-controller='TasksController as tasksCtl'>

			<input type="checkbox" ng-model="verTareasRealizadas" ng-checked="verTareasRealizadas" /> Ver tareas realizadas.

			<blockquote ng-repeat='tarea in tasks()' ng-class="{'tarea-terminada': tarea.realizado}" ng-hide="tarea.realizado && !verTareasRealizadas" >
				<div>
					<input type="checkbox" ng-checked="tarea.realizado" ng-disabled="tarea.realizado" ng-change="marcarComoRealizada(tarea)" ng-model="tarea.realizado"/>
					 - {{tarea.descripcion}}
				</div>
				<span>{{tarea.fecha | date:'dd/MM/yyyy @ h:mma'}}</span>
			</blockquote>
				
		</div>
		
	</body>
</html>
